{% extends "common_resources/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
    var onloadCallback = function() {
      grecaptcha.render('html_element', {
        'sitekey' : '6LdrO-MUAAAAACdtR4x7snFFszRF3ESQibMUzbIq'
      });
    };
  </script>
<div class="container">
    {% if error_message %}
        <h3>Error message: {{ error_message }} You can try again.</h3>
    {% endif %}
    {% load crispy_forms_tags %}

    <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <input type='submit' value='Save' />
    </form>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
</div>
{% endblock %}