{% extends "common_resources/base.html" %}
{% load static %}
{% block content %}
<div class="container">  
    <p>My name is Yari Ivan Taft and I am geek. I have always loved technology, when I was ten I realized
        that computers are awesome, because knowing how to tell a machine what to do is like having a super
        power. At that age I just wanted to learn more a more. First of all, I started playing some
        PC games and when I was eleven we hired an ISP to have unlimited internet without having to use
        the telephone line. 
    </p><br>
    <p>When I was eleven, a friend of my father came to our house, he was living in USA and he works
        for Microsoft in Seatle. By that time I was really surprised because of that chance of
        moving from one country to the other. And when he told that he was systems engineer I was really
        surprised because at I could realize that technology could be a good way to develop my
        professional career. That idea never left my head. 
    </p><br>
    <p>Having internet literally changed my life, at first I continue playing online games until fourthteen.
        Then I started making some posts in a web forum very well known in Argentina, it is called "Taringa".
        That was my first approach to HTML. To make good posts I had to learn a little bit of design, photoshop,
        image compression, video and audio manipulation, file extensions, etc.
        </p><br>
    <p>
        When I was sixteen I was really interested in ethical hacking, so I started learning in a community
        that is called "indetectables". It was really interesting and in that place I could learn ton of things
        related to security. In fact, I think that most of the security precautions that I take now a days are
        things that I learnt in that community. There I learnt what was a trojan and how to build one. How to forward
        ports, which are the most used ports and which services use them. What is a public IP address and what a 
        private IP address, how to setup a router, what is MAC filtering, which is the importance of using HTTPS instead of
        HTTP. How antivirus works and what heuristics are, what is the HOSTS file in 
        Windows, how to set a process to be executed when windows starts, and so many things more.
    </p><br>
    <p>
        Later, when I was seventeen, I started learning scripting with batch language. I found it really interesting and easy. 
        After that I could finally, start my studies in the UTN and there I continue learning how to code and a lot of
        things more, such as maths, physics, chemestry, management.
    </p>
    <br>
    <p>
        In my first year I learnt how to code in C++ without using objects. We saw up to dynamic memory data structures.
        In my second year, I learnt C with a very difficult project, we had to replicate hadoop, with it's filesystem, 
        planner, jobs, nodes, redundancy, etc. 
        We had to use pipes, sockets, serialization, and a lot of things more.
        I also learnt a lot of semantic and syntax with C too, we saw what a parser is, a compiler, logical languages,
        logical rules, graphs, trees, turing machine, etc. We had to build our own compiler.
        I also learnt the same year, about objects, functional and logic paradigms. We learnt logic paradigm
        with prolog, functional with Haskell and Objects with smalltalk. We were also told how to use git.
    </p>
    <br>
    <p>
        In my third year, we saw desing patterns and how to use them an represent them with UML. We also saw 
        a lot of things related to databases, hash algorithms, binary trees, and some disks theory. And of course,
        we were told how to build a database, how to use SQL and all the theory around it.
    </p>
    <br>
    <p>
        Then the rest of my career was very interesting but we did not see anything else related to development itself.
        Instead we learnt about architectures, networks, deployments, economics and a lot of project management. The only
        thing we saw related to development was some simulation algorithms that were really hard.
        At the same time, when I was finishing my studies I started working as functional analyst.
        That role taught me how to engage customers, how to find out which are the customers needs And
        how to desing a solution.
        Then I started working as data engineer and I learnt how to develop, how to
        query tunning, how to deploy and app, and I could improve my english.
    </p>
    <br>
    <p>
        After university my professional career as a developer began, and I started diving into python,
        by taking a lot of courses, reading the documentation, watching and assisting pyconfs and reading
        books (dive into python is my favourite). Then I started making my first web page in order to learn 
        the whole process required to do so. I.E how to integrate a web app with a DB using an ORM, deploy 
        things in a Cloud service and using a domain service.
        Finally, I changed my job, I was working as a data engineer and nowadays I am working as software
        developer in a great software factory. I made that change because I felt that I was not learning
        as much as I wanted.
    </p>
</div>
{% endblock content %}
