body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    background: rgb(0, 0, 0);
    color: #ffffff;
  }

.container {
    background: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

img.avatar {
    border:2px solid #ffffff;
    background-color:rgb(0, 0, 0);
  }